*{
    margin: 0;
}

h1{
    text-align: center;
    color: aliceblue;
}

.navButtons{
margin-left: 350px;
}

#navBar{
    background-color: blue;
    width: 100%;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size:medium;
    
    
}
button:hover{

    background: #9dad09;
    letter-spacing: 2px;
    transition-duration: .6s;
    
}

.gridContainer{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
    margin-top: 10px;
    background: #ecde0ebb;
    
    
    

}

.gridItem{
    padding: 70px;
    font-size: 3.5cap;
    background-color: rgb(17, 0, 255);
    color: aliceblue;
    
}

img{
    width: 300px;
    height: 120px;
}